<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Delete A User</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>

  <body>
    <div class="topnav">
      <a href="/">Home</a>
      <a href="/create">Create Users</a>
      <a href="/update" class="active">Update Users</a>
    </div>
    <form class="form" action="/delete-user" method="post">
      <fieldset>
        <legend>Delete user</legend>
        <div class="input-group">
          <label for="">Email: </label>
          <input type="text" name="email" value="<%= userById.email %>" />
        </div>
        <div class="input-group-userId">
          <input type="text" name="id" value="<%= userById.id %>" />
        </div>
        <div>
          <button>Confirm</button>
        </div>
      </fieldset>
    </form>
  </body>
</html>
